apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      nodeSelector:
        agentpool: system
      containers:
        - name: service-a
          image: hwacryakir.azurecr.io/service-a:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001

          env:
            - name: COINSTAT_KEY
              valueFrom:
                secretKeyRef:
                  name: coinstat-key
                  key: apiKey

            - name: COINSTAT_URL
              valueFrom:
                secretKeyRef:
                  name: coinstat-url
                  key: apiUrl

          readinessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 15
            periodSeconds: 20
